* {
  margin: 0;
  padding: 0;
}

body {

  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: auto;
}

/* universal styles */


/* header */

header {
  display: flex;
  position: fixed;
  z-index: 1;
  background-color: black;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;

}

.logo {
  display: inline-flex;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}



.logo-nav {
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
  text-decoration: underline;
}

.logo-nav span {
  padding: 5px;
}

/* main content */

.container {
  display: flex;
  width: 1300px;
  height: 700px;
  justify-content: flex-end;
  align-items: center;
}

.container-img {
  display: flex;
  background-image: url("C:/Users/canma/OneDrive/Documents/Tea Cozy/resources/images/img-mission-background.jpg");
  width: 1300px;
  height: 700px;
  background-size: cover;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-top: 80px;
}


.container-text {
  display: block;
  background-color: black;
  padding: 10px;
  width: 100%;
  height: 75px;
  text-align: center;

}

.container-text, h2 {
  text-align: center;
}

.container-2 {
  display: inline-flex;
  width: 90rem;
  height: 500px;
  margin-top: -30px;
  justify-content: center;
  align-items: center;
}

.mid-page-text {



}
